{{ define "content" }}
<h1>About</h1>
<p>This tool is built and maintained by Jordy van Domselaar
    <a href="mailto:jordy.van.domselaar@outlook.com">&lt;jordy.van.domselaar@outlook.com&gt;</a></p>
{{ end }}

{{ define "scripts" }}
{{ end }}